* {
  box-sizing: border-box;
  margin: 0;
}

.main_bg {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: #466969;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.main_wrapper {
  display: flex;
  position: relative;
  background: #688088;
  height: 90%;
  width: 95%;
  border: 20px solid #b2cdd6;
  border-radius: 25px;
}

.main_info {
  margin-top: 20px;
  margin-left: 35px;
  height: 60%;
  width: 40%;
}

.main_block {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #E1E1E1;
  text-align: center;
  vertical-align: bottom;
  color: #735656;
  
}



.zan{
  display: flex;
  position: relative;
  background: #E1E1E1;
  height: 10%;
  width: 38%;
  top: -2%;
  left: 30%;
  /* bottom: 5%; */
  /* border: 20px solid rgba(156, 170, 177, 0.9); */
  font-size: 26px;
  border-radius: 17px;
}
.text_zan{
  position: absolute;
  top: 10%; 
  left: 25%;
  color: #717171;
}

.pred{
  display: flex;
  position: relative;
  background: #E1E1E1;
  height: 10%;
  width: 88%;
  top: 0%;
  left: 4.5%;
  /* bottom: 5%; */
  /* border: 20px solid rgba(156, 170, 177, 0.9); */
  font-size: 26px;
  border-radius: 17px;
}
.text_pred{
  position: absolute;
  top: 10%; 
  left: 18%;
  color: #717171;
}


.main_block__lesson {
  margin: 0 auto;
  height: 10%;
  width: 35%;
 

}
.main_block__nol {
  margin: 5px auto;
  max-width: 50%;
  height: 35px;
  border-radius: 10px;
}
.main_block__title {
  height: 30px;
  width: 180px;
  background: #E1E1E1;
  margin: 20px 35px;
}

.note_inp {
  position: relative;
  width: 90%;
  height: 80%;
  background: #A10000;
  border-radius: 30px;
}
.note_wrapper {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 0px;
  margin-top: 20px;
  height: 73.7%;
  width: 59%;
}
.note_title {
  height: 15%;
}
.note_container {
  display: flex;
  justify-content: center;
}
.note_input {
  width: 92%;
  padding-left: 15px;
  resize: none;
  height: 200px;
  border-radius: 25px;
  font-size: 15px;
  outline: none;
}
.note_button {
  position: absolute;
  right: 30px;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  color: #735656;
  width: 170px;
  height: 45px;
  border-radius: 15px;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
.note_button:after {
  content: "";
  background: #A10000;
  display: block;
  position: absolute;
  border-radius: 25px;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.note_button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}


.input-text_1 {
  display: flex;
  position: relative;
  width: 35%;
  height: 9%;
  background-color: #E1E1E1;
  position: absolute;
  top: 21%;
  left: 22%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  line-height: 60px;
  outline: none;

}


.input-text_3 {
  display: flex;
  position: absolute;
  width: 15%;
  height: 9%;
  background-color: #EDEDED;
  top: 33%;
  left: 12%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  line-height: 60px;
  outline: none;
}

.input-text_4 {
  display: flex;
  position: absolute;
  width: 15%;
  height: 9%;
  background-color: #E1E1E1;
  top: 33%;
  left: 32%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  line-height: 60px;
  outline: none;
}

.input-text_5 {
  display: flex;
  position: relative;
  width: 35%;
  height: 9%;
  background-color: #E1E1E1;
  position: absolute;
  top: 45%;
  left: 22%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  line-height: 60px;
  outline: none;
}

.input-text_6 {
  display: flex;
  position: relative;
  width: 35%;
  height: 9%;
  background-color: #E1E1E1;
  position: absolute;
  top: 57%;
  left: 22%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  line-height: 60px;
  outline: none;
}

.input-text_7 {
  display: flex;
  position: absolute;
  width: 91%;
  height: 27%;
  background-color: #a7b9c7;
  top: 78%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  outline: none;
}

.input-text_7_1 {
  display: flex;
  position: absolute;
  width: 95%;
  height: 63%;
  background-color: #E1E1E1;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  outline: none;
}

.input-text_8 {
  display: flex;
  position: absolute;
  width: 28%;
  height: 25%;
  background-color: #E1E1E1;
  top: -18%;
  left: 14%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  outline: none;
}

.input-text_2_1 {
  display: flex;
  position: absolute;
  top: 20%;
  left: 5%;
}

.pan_1 {
  display: flex;
  position: relative;
  width: 15%;
  height: 25%;
  background-color: #E1E1E1;
  top: 115%;
  left: 7.5%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  font-size: 16px;
  border: none;
  color: #735656;
  text-align: center;
  outline: none;
}

.text_3{
  display: flex;
  position: relative;
  top: 27%;
  left: 3%;
}

.note_button_1 {
  position: absolute;
  right: 4.5%;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  color: #735656;
  width: 170px;
  height: 45px;
  top: 91.5%;
  border-radius: 15px;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  font-size: 16px;
}

.note_button_1:after {
  content: "";
  background: #3ea6d7;
  display: block;
  position: absolute;
  border-radius: 25px;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.note_button_1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}



.pan_1{
  position: absolute;
  margin-top: 10px;
  text-decoration: none;
  display: inline-block;
  color: #735656;
  width: 170px;
  height: 45px;
  left: 11%;
  top: 94.5%;
  border-radius: 15px;
  border: none;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.pan_1:after {
  content: "";
  background: #3ea6d7;
  display: block;
  position: absolute;
  border-radius: 25px;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}
.pan_1:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.input{
  /* display: flex; */
  position: absolute;
  background-color: #E1E1E1;
  width: 50%;
  height: 6%;
  font-size: 20px; /* Adjust the font size to make it smaller */
  top: 93%;
  left: 30%;
  border-radius: 14px;
  border: none;
  outline: none;
}