<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/create/subject/create" method="post">
    name: <input type="text" name="name">
    timeStart <input type="time" name="timeStart">
    timeEnd <input type="time" name="timeEnd">
    data <input type="date" name="data">
    auditorium <input type="number" name="auditorium">
    additional_subject <input type="checkbox" name="additional_subject">
    <input type="hidden" name="_csrf" value="${_csrf.token}">
    <input type="submit" value="Create">
</form>
</body>
</html>